<mat-card class="tournament-card-item">
  <mat-card-header>
    <mat-card-title>{{tournamentData?.title}}</mat-card-title>
    <mat-card-subtitle>{{tournamentData?.description}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content routerLink={{(tournamentData?._id)}}>
    <br />
    <span>Starts: <strong>{{tournamentData?.start_date | date: 'dd/MM/yyyy'}}</strong></span><br />
    <span>Ends: <strong>{{tournamentData?.end_date | date: 'dd/MM/yyyy'}}</strong></span><br />
    <span>Participants: <strong>{{tournamentData?.max_participants}}</strong></span><br />
    <span>Type: <strong>{{tournamentData?.type}}</strong></span><br />
    <mat-chip color="accent">{{tournamentData?.status}}</mat-chip>
  </mat-card-content>

  <mat-card-actions align="end">
    <button class="danger-button" mat-raised-button (click)="deleteTournament()" color="warn">DELETE</button>
    <button class="danger-button" mat-raised-button (click)="generateBrackets()" color="warn">BRACKETIFY</button>
    <button mat-button (click)="editTournament()">EDIT</button>
  </mat-card-actions>
</mat-card>