.page-container {
  margin: 25px;
  max-width: 500px;
}
.navigate-button{
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}
